{{define "style"}}
{{end}}

{{define "script"}}
{{end}}

{{define "content"}}
    <div class="ui main text container">
        <form method="post" class="ui form">
            <div class="inline fields">
                <div class="field">
                    <label>Category name</label>
                    <input type="text" name="name" placeholder="Name" value="" required>
                </div>
                <button class="positive ui button" type="submit" name="mode" value="default">
                    <i class="save icon"></i> Save
                </button>
            </div>
        </form>

        {{if .errorFlash}}
            <div class="ui error message">
                <div class="header">
                    Error
                </div>
                <ul class="list">
                    {{range .errorFlash}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
        {{end}}
        {{if .infoFlash}}
            <div class="ui success message">
                <div class="header">
                    Info
                </div>
                <ul class="list">
                    {{range .infoFlash}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
        {{end}}


        <form method="post">
            <input type="hidden" name="mode" value="delete">
            <div class="ui list">
            {{range .categories}}
                <div class="item">
                    <button type="submit" class="negative ui button" name="id" value="{{ .ID }}" onclick="return confirm('Are you sure?')">
                        <i class="trash icon"></i> Delete
                    </button>
                    <a href="/admin/category/{{ .ID }}">{{ .Name }}</a>
                </div>
            {{end}}
            </div>
        </form>
    </div>
{{end}}

