{{define "content"}}
    <div class="ui main text container">
        <h1>Create</h1>

        <form method="post" class="ui form">
            <div class="field">
                <label>Post title</label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Post body</label>
                <textarea id="editor" name="body" cols="30" rows="10" placeholder="Body"></textarea>
            </div>
            <div class="field">
                <label>Category</label>
                <select name="category">
                    <option value="0">hoge</option>
                    <option value="1">fuga</option>
                </select>
            </div>
            <div class="ui right floated buttons">
                <button class="positive ui button" type="submit">
                    <i class="save icon"></i> Save
                </button>
                <button class="negative ui button" type="submit" onclick="return confirm('Are you sure?')">
                    <i class="trash icon"></i> Delete
                </button>
            </div>
        </form>
    </div>

{{/* @todo move */}}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
        new EasyMDE({element: document.getElementById('editor')});
    </script>
{{end}}

