{{define "style"}}
{{end}}

{{define "script"}}
{{end}}

{{define "content"}}
    <div class="ui main text container">
        {{if .errorFlash}}
            <div class="ui error message">
                <div class="header">
                    Error
                </div>
                <ul class="list">
                    {{range .errorFlash}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
        {{end}}
        {{if .infoFlash}}
            <div class="ui success message">
                <div class="header">
                    Info
                </div>
                <ul class="list">
                    {{range .infoFlash}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
        {{end}}

        <form method="post" class="ui form">
            <div class="field">
                <label>User ID</label>
                <input type="text" name="user-id" placeholder="User ID" value="{{ .user.UserID }}">
            </div>
            <div class="field">
                <label>Display Name</label>
                <input type="text" name="display-name" placeholder="Display Name" value="{{ .user.Name }}">
            </div>

            <div class="field">
                <label>Current Password</label>
                <input type="password" name="old-password" placeholder="Current Password">
            </div>
            <div class="field">
                <label>New Password</label>
                <input type="password" name="new-password" placeholder="New Password">
            </div>

            <button class="ui positive button" type="submit">Save</button>
        </form>
    </div>
{{end}}

