{{define "style"}}
{{end}}

{{define "script"}}
{{end}}

{{define "content"}}
    {{include "parts/header_navigation"}}

    <div class="ui main text container">
        <h1 class="ui header">Simple Blog</h1>
        <p>Welcome my blog!</p>

        <h1 class="ui dividing header">{{.article.Title}}</h1>

        <div class="ui equal width grid">
            <div class="column">
                <div class="ui">
                    <p>
                        <a href="/category/{{.article.Category}}" class="ui tag label">{{.article.CategoryName}}</a><br>
                        Author: {{.article.Author}}
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="ui">
                    Created: {{.article.CreatedAt|dateYYYYMMDDHHmm}}
                    {{if not (eqTime .article.CreatedAt .article.UpdatedAt)}}
                        <br>Updated: {{.article.UpdatedAt|dateYYYYMMDDHHmm}}
                    {{end}}
                </div>
            </div>
        </div>
        <div class="article-body">
            {{.article.Body|safeHTML}}
        </div>
    </div>
{{end}}
