{{define "style"}}
    <style>
        .article-body hr {
            border: none;
            border-top: 1px solid rgba(34,36,38,.15);
        }
    </style>
{{end}}

{{define "script"}}
    <script async src="//platform.twitter.com/widgets.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.article-body table').forEach((t) => {
                t.classList.add('ui', 'celled', 'table');
            });
        }, false);
    </script>
{{end}}

{{define "content"}}
    {{include "parts/navigation/header_navigation"}}

    <div class="ui main text container">
        <h1 class="ui header">Simple Blog</h1>
        <p>Welcome my blog!</p>

        <div class="ui equal width grid">
            <div class="row">
                <div class="ten wide column">
                    <h1 class="ui header">{{.article.Title}}</h1>
                </div>

                <div class="column">
                    <div class="ui list">
                        <div class="item">
                            <i class="user icon"></i>
                            <div class="content">
                                {{.article.UserName}}
                            </div>
                        </div>
                        <div class="item">
                            <i class="clock icon"></i>
                            <div class="content">
                            <span
                                {{if not (eqTime .article.CreatedAt .article.UpdatedAt)}}
                                    data-tooltip="Updated with {{.article.UpdatedAt|dateToLocal|dateYYYYMMDDHHmm}}"
                                {{end}}
                            >
                                {{.article.CreatedAt|dateToLocal|dateYYYYMMDDHHmm}}
                            </span>
                            </div>
                        </div>
                        <div class="item">
                            <i class="tag icon"></i>
                            <div class="content">
                                <a href="/category/{{.article.CategoryID}}" class="ui tag label">{{.article.CategoryName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="article-body">
            <div class="ui divider"></div>

            {{if ne .article.TopImage ""}}
                <img src="{{.article.TopImage}}">
            {{end}}

            {{.article.Body|safeHTML}}

            <div class="ui divider"></div>

            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet">
                Tweet</a>
        </div>
    </div>
{{end}}
