<form method="post" class="ui form">
    <div class="field">
        <label>Post title</label>
        <input type="text" name="title" placeholder="Title" value="{{.article.Title}}" required>
    </div>
    <div class="field">
        <label>Top image</label>
        <input type="text" name="top-image" placeholder="Image URL" value="{{.article.TopImage}}">
    </div>
    <div class="field">
        <label>Post body</label>
        <textarea id="editor" name="body" cols="30" rows="10" placeholder="Body">{{.article.Body}}</textarea>
    </div>
    <div class="field">
        <label>Category</label>
        <select name="category" required>
            {{range .categories}}
                {{if eq .ID $.article.CategoryID}}
                    <option value="{{ .ID }}" selected>{{ .Name }}</option>
                {{else}}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                {{end}}
            {{end}}
        </select>
    </div>
    <div class="ui right floated buttons">
        <button class="positive ui button" type="submit" name="mode" value="default">
            <i class="save icon"></i> Save
        </button>
        {{if .editable}}
            <button class="negative ui button" type="submit" name="mode" value="delete" onclick="return confirm('Are you sure?')">
                <i class="trash icon"></i> Delete
            </button>
        {{end}}
    </div>
</form>