<div>
    <a href="/" class="ui button"><i class="home icon"></i> Home</a>
    <a href="/admin/article" class="ui button"><i class="newspaper icon"></i> Articles</a>
    <a href="/admin/article/new" class="ui primary button"><i class="sticky note icon"></i> Create</a>
    <a href="/admin/category" class="ui button"><i class="list icon"></i> Category</a>
    <a href="/admin/profile" class="ui button"><i class="user icon"></i> Profile</a>
    <a href="/admin/setting" class="ui button"><i class="user icon"></i> Setting</a>
    <a href="/admin/logout" class="ui negative button"><i class="sign out alternate icon"></i> Logout</a>
</div>